* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
  
}
body{
    height: 100vh;
    width: 100vw;
}

.caixa-principal{
   
}

.primeira-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color:#EEDAD3;
    width: 1360px;
    height: 550px;
   
}

.h1-primeira-imagem{
    margin-bottom: 20px;
}

.div-títulos-h2-h4{
    margin-right: 20%;
}
.primeira-imagem img{
    height: 350px;
    width: 300px;
}


.div-menu{
    background-color: #040404;
}

.texto-h2{
    
    color: #fffefe;
}

ul{
   
    display: inline;
    margin-left: 60%;
    color: white
}

.portifolio {
    padding-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 200px;
    margin-left: 20px;
    
}
    

.texto{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.portifolio span {
    color: #997593;
    

}

li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color:rgb(218, 38, 98);
    transition: 0.5s;
}

.link-menu {
    text-decoration: none;
    color:rgb(218, 38, 98)
}

.imagem {
    margin-right: 40px;
    margin-left: 700px;
    margin-top: 50px;
    
}

/*meu-nome {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 30px;
    color: white;
    font-weight: 500px;
}*/



section{

    position: relative;
   /*
    align-items: center;
    padding: 60px 15%;*/
}

#texto{
    position: absolute;
    font-size: 32px;
    left: 250px;
    top: 100px;
   
}

#imagem {
    position: absolute;
    opacity: 0.3;
    width: 1360px;
    height: 500px;
  }
  

section div h2 {
    font-size: 40px;
    color: rgb(146, 37, 73);
    
}

section div img {
    margin-right: 20px;
    border: 2px solid  rgb(146, 37, 73);
    border-radius: 50%;
    height: 400px;
}

section div p {
  
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(12, 12, 12);
    font-size:20px;
    
    
}

.paragrafo-segunda-caixona{
    width: 1000px;
    border: 3px dashed;
    padding: 10px;
    
}



.butão {
 color: #f0cec0;
 background-color: #292828;
 width: 150px;
 height: 50px;
 font-size: 18px;
 border: none;
 border-radius: 20px;
 cursor: pointer;
 padding: 10px;
 
}

.butão:hover {
    background-color: white;
    border: 2px solid rgb(146, 37, 73);
    transition: 0.5s;
    color: #040404;
}

.projetos {
    background-color:#EEDAD3;
    padding-top: 100px;
    margin-top: 500px;
   
   
}

.projetos h2 {
    color: rgb(146, 37, 73);
    font-size: 60px;
    text-align: center;
    

}

.instagram {
    
    width: 400px;
    height: 290px;
    border: 5px dashed;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 25px;
}
    

.instagram img {
    height: 70px;
}

.instagram h5 {
    color: rgb(49, 49, 108);
    font-size: 15px;
}

.instagram p {
    color: rgb(175, 48, 90);
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.instagram a {
    border: 2px solid rgb(146, 37, 73);
    color: rgb(146, 37, 73);
    background-color: rgb(239, 206, 206);
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
   
}

.instagram a:hover {
    background-color: transparent;
    border: 2px solid rgb(146, 37, 73);
    transition: 0.5s; 
}

.instagram-projetos {
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
}

.ver-projetos {
    text-decoration: none;
}

.Certificados{
    background-color: #EEDAD3;
    
}

.Certificados h2{
    background-color: #040404;
    color: rgb(146, 37, 73);
    font-size: 60px;
    text-align: center;
}

.certificado-div{
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 25px;
   
}

.certificado-div img{
    height: 70px;
}

.certificado-div a{
   
    border: 2px solid rgb(146, 37, 73);
    color: rgb(146, 37, 73);
    background-color: rgb(239, 206, 206);
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
    
}
footer {
    background-color: #040404;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

footer h5 {
    color: rgb(146, 37, 73);
    font-size: 40px;
   
}

footer p {
    color:rgb(146, 37, 73);
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 30px;
    border-radius: 50%;
    
    
}

.social a {
    background-color: rgb(146, 37, 73);
    border-radius: 60%;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}